
<ion-header>

  <ion-navbar>
    <ion-title>Training Content</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
<div>
  <div class="video-container">
      <iframe [src]="vId" frameborder="0" width="560" height="315" allowfullscreen ></iframe>
  </div>
  <!-- Segment in content -->
  <ion-segment [(ngModel)]="training" color="primary" >
      <ion-segment-button value="videos">
          Videos
      </ion-segment-button>
      <ion-segment-button value="quizzes">
          Quizzes
      </ion-segment-button>
    </ion-segment>
</div>
<div [(ngSwitch)]="training" >
  <ion-list *ngSwitchCase="'videos'" >
    <ion-list>
      <div *ngFor="let lesson of lessons  let i = index "  [attr.data-index]="i" >
        <ion-item id="liked" (click)="videoId(lesson.url, $event)" >
            <ion-avatar item-start>
                <ion-text-avatar color="primary">{{ letter(lesson.title) }}</ion-text-avatar>
            </ion-avatar>
          <h2> {{ lesson.title }} </h2>
        </ion-item>
      </div>
      
      
    </ion-list>
  </ion-list>
  <ion-list *ngSwitchCase="'quizzes'" >
      <ion-list>
        <div *ngFor="let quiz of quizlist  let i = index "  [attr.data-index]="i" >
          <ion-item id="liked" (click)="goQuiz(quiz)" >
              <ion-avatar item-start>
                  <ion-text-avatar color="danger">{{ letter(quiz.title) }}</ion-text-avatar>
              </ion-avatar>
            <h2> {{ quiz.title }} </h2>
          </ion-item>
        </div>
        
        
      </ion-list>
    </ion-list>
 
</div>

</ion-content>
