// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #488aff,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
pink: #ED1E79,
  A: #ED1E79,
  B: rgb(207, 93, 16),
  C: #B87333,
  D: rgb(30, 237, 220),
  E: rgb(51, 30, 237),
  F: rgb(47, 237, 30),
  G: rgb(237, 233, 30),
  H: rgb(30, 78, 237),
  I: rgb(154, 30, 237),
  J: rgb(96, 237, 30),
  K: rgb(109, 30, 237),
  L: rgb(30, 78, 237),
  M: rgb(30, 237, 237),
  N: rgb(237, 30, 40),
  O: #ED1E79,
  P: rgb(51, 30, 237),
  Q: rgb(113, 237, 30),
  R: rgba(237, 30, 123, 0.39),
  S: #ED1E79,
  T: rgb(43, 21, 31),
  U: rgb(116, 16, 61),
  V: rgb(63, 139, 99),
  W: rgb(85, 117, 155),
  X: rgb(139, 39, 84),
  Y: rgb(30, 223, 237),
  Z: rgb(194, 124, 156),
);


// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
